// 
// Typography
// 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:300,400,500,600,700,800");


// Font Family
$poppins: 'Poppins', sans-serif;
$font-family-sans-serif: "Poppins", sans-serif;
$headings-font-family: "Montserrat", sans-serif;
$headings-font-weight: 700;





